/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  margin:50px;
  background:rgb(22, 0, 94);
  color:rgb(71, 101, 251);
}
body section{
  width:50%;
  float:left;
}
img{
  height:260px;
  width:60%;
  margin:auto;
  display: block;
  margin-top:200px;
  border-radius: 3px;
 
}
input{
  color:orangered;
  background:rgb(250, 204, 118);
  margin-right:20px;
  border:1px solid blue;
  font-weight: bold;
  border-radius:3px;
}
h3{
  padding:10px;
  line-height: 30px;
}
button{
  color:orangered;
  height:40px;
  border:1px solid blue;
  border-radius: 3px;
  background: rgb(244, 201, 122);
  font-size:16px;
  font-weight: bold;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
